{% extends 'base.html.twig' %}

{% block title %}Grade index{% endblock %}

{% block body %}
    <h1>Grade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.id }}</td>
                <td>{{ grade.label }}</td>
                <td>
                    <a href="{{ path('app_grade_show', {'school_id': grade.school.id, 'id': grade.id}) }}">show</a>
                    <a href="{{ path('app_grade_edit', {'school_id': grade.school.id, 'id': grade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_grade_new', {'school_id': school.id}) }}">Create new</a>
{% endblock %}
