{% extends 'base.html.twig' %}

{% block title %}Liste des conversation{% endblock %}

{% block body %}
    <div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="w-full mb-1">
            <div class="mb-4">
                <nav class="flex mb-5" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
                        <li class="inline-flex items-center">
                            {% if is_granted("ROLE_STUDENT") %}
                                <a href="{{ path("student_dashboard") }}" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
                                    <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                                    Tableau de bord
                                </a>
                            {% elseif is_granted("ROLE_TEACHER")  %}
                                <a href="{{ path("teacher_index") }}" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
                                    <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                                    Tableau de bord
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            <div class="flex items-center">
                                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">
                                    Conversations
                                </span>
                            </div>
                        </li>
                    </ol>
                </nav>
                <div class="flex md:space-x-3 md:space-y-0 space-y-3 md:flex-row flex-col">
                    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Chatter avec les intervenants</h1>
                </div>
            </div>
            <div>
                <h1 class="w-full text-lg font-medium text-gray-900 sm:text-2xl dark:text-white">Filtre</h1>
                {{ form_start(form, {"attr": {"class":"w-full", "noValidate": true}}) }}
                <div class="w-full grid grid-cols-9 gap-x-6">
                    <div class="md:col-span-3 col-span-full">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="md:col-span-3 col-span-full">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="md:col-span-3 col-span-full">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-span-full">
                        <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit">{{ button_label|default('Appliquer les filtres') }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="overflow-x-auto">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden shadow">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                        <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                {% if user_class  is same as "App\\Entity\\Student" %}
                                    {{ knp_pagination_sortable(pagination, 'Prénom', 't.firstname') }}
                                {% else %}
                                    {{ knp_pagination_sortable(pagination, 'Prénom', 's.firstname') }}
                                {% endif %}
                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                {% if user_class  is same as "App\\Entity\\Student" %}
                                    {{ knp_pagination_sortable(pagination, 'Nom', 't.lastname') }}
                                {% else %}
                                    {{ knp_pagination_sortable(pagination, 'Nom', 's.lastname') }}
                                {% endif %}

                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                {% if user_class  is same as "App\\Entity\\Student" %}
                                    {{ knp_pagination_sortable(pagination, 'Email', 't.email') }}
                                {% else %}
                                    {{ knp_pagination_sortable(pagination, 'Email', 's.email') }}
                                {% endif %}
                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                        {% for person in pagination %}
                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
                                    <div class="text-base text-gray-900 dark:text-white">{{ person.firstname }}</div>
                                </td>
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
                                    <div class="text-base text-gray-900 dark:text-white">{{ person.lastname }}</div>
                                </td>
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
                                    <div class="text-base text-gray-900 dark:text-white">{{ person.email }}</div>
                                </td>
                                <td class="p-4 space-x-2 whitespace-nowrap">
                                    {% if user_class  is same as "App\\Entity\\Student" %}
                                        {% set parameters = { idStudent: app.user.id, idTeacher: person.id } %}
                                    {% else %}
                                        {% set parameters = { idStudent: person.id, idTeacher: app.user.id } %}
                                    {% endif %}
                                    <a href="{{ path('chat_conversation', parameters) }}"
                                       class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 dark:bg-green-600 dark:hover:bg-green-700">
                                        Ouvrir la conversation
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
