{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
 <div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
     <div class="w-full mb-1">
            <div class="mb-4">
                <nav class="flex mb-5" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
                        <li class="inline-flex items-center text-gray-400">
                                <svg class="w-5 h-5 mr-2.5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                                Dashboard
                            </a>
                        </li>
                    </ol>
                </nav>
                <div class="flex md:space-x-3 md:space-y-0 space-y-3 md:flex-row flex-col">
                    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Cours</h1>
                </div>
            </div>
            <div>
                <h1 class="w-full text-lg font-medium text-gray-900 sm:text-2xl dark:text-white">Filtre</h1>
                {{ form_start(form, {"attr": {"class":"w-full", "noValidate": true}}) }}
                <div class="w-full grid grid-cols-9 gap-6">
                    <div class="md:col-span-3 col-span-full">
                        {{ form_row(form.training) }}
                    </div>
                    <div class="col-span-full">
                        <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                type="submit">{{ button_label|default('Appliquer les filtres') }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
 </div>
    <div class="bg-white flex">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden shadow p-4 flex-row gap-x-3 grid grid-cols-4 gap-6">

                    {% for inscription in pagination %}
                        {% set training = inscription.training %}
                        <div class="col-span-full md:col-span-1 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                            {% if training.difficulty.value == "Débutant" %}
                                <span class="mb-4 inline-flex bg-green-100 text-green-800 text-base font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{ training.difficulty.value }}</span>

                            {% elseif training.difficulty.value == "Intermédiaire" %}
                                <span class="mb-4 inline-flex bg-yellow-100 text-yellow-800 text-base font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">{{ training.difficulty.value }}</span>

                            {% elseif training.difficulty.value == "Avancé" %}
                                <span class="mb-4 inline-flex bg-pink-100 text-pink-800 text-base font-medium me-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300">{{ training.difficulty.value }}</span>

                            {% elseif training.difficulty.value == "Expert" %}
                                <span class="mb-4 inline-flex bg-purple-100 text-purple-800 text-base font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">{{ training.difficulty.value }}</span>

                            {% elseif training.difficulty.value == "Dieu" %}
                                <span class="mb-4 inline-flex bg-red-100 text-red-800 text-base font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">{{ training.difficulty.value }}</span>

                            {% else %}
                                <span class="mb-4 inline-flex bg-blue-100 text-blue-800 text-base font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{ training.difficulty.value }}</span>

                            {% endif %}
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ training.title }}</h5>

                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ training.description }}</p>


                            <ul role="list" class="max-w-sm divide-y divide-gray-200 dark:divide-gray-700">
                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-3 rtl:space-x-reverse">
                                        <div class="flex-shrink-0">
                                            <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                                <span class="font-medium text-gray-600 dark:text-gray-300">{{ training.teacher.firstname|first|upper }}{{ training.teacher.lastname|first|upper }}</span>
                                            </div>
                                        </div>
                                        <div class="flex-1 min-w-0">
                                            <p class="font-semibold text-gray-900 truncate dark:text-white">
                                                {{ training.teacher.fullname }}
                                            </p>
                                            <p class="truncate dark:text-gray-400">
                                                Longeur du module : {{ training.length }}h
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <a href="{{ path('student_inscription_training', {'id': inscription.id}) }}"
                               class="mt-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Voir plus
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>

                        </div>

                    {% endfor %}
                </div>
            </div>

        </div>
    {# {{ knp_pagination_render(pagination) }} #}

{% endblock %}
