{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/calendar.css') }}">
{% endblock %}

{% block body %}
<div class="py-4 ms-2">
    <span class="px-2.5 py-0.5 me-1 rounded bg-[#aec597]"></span> Session distancielle 
    <span class="mx-4"></span>
    <span class="px-2.5 py-0.5 me-1 rounded bg-[#aec2cf]"></span> Session présentielle
</div>

<div
        class="p-5"
        {{ stimulus_controller('calendar') }}
        data-calendar-url-value="{{ path('app_calendar_data') }}"
>
    {# Calendar container #}
    <div {{ stimulus_target('calendar', 'calendar') }}>

    </div>

    {# Modal d'information sur une session #}
    <div id="default-modal" {{ stimulus_target('calendar', 'modal') }} tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 {{ stimulus_target('calendar', 'modalTitle') }} class="text-xl font-semibold text-gray-900 dark:text-white">
                        
                    </h3>
                    <button {{ stimulus_action('calendar', 'closeModal', 'click') }} type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <span {{ stimulus_target('calendar', 'modalGrade') }} class="hidden"></span>
                    <span {{ stimulus_target('calendar', 'modalStudents') }} class="hidden"></span>
                    <span {{ stimulus_target('calendar', 'modalDate') }}></span>
                    <span {{ stimulus_target('calendar', 'modalOnline') }}></span>
                    <span {{ stimulus_target('calendar', 'modalSessionLink') }} class="hidden"></span>
                    <span {{ stimulus_target('calendar', 'modalPlace') }} class="hidden"></span>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
