{% extends 'base.html.twig' %}

{% block title %}TrainingSession{% endblock %}

{% block body %}
    <h1>TrainingSession</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ training_session.id }}</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>{{ training_session.length }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ training_session.startDate ? training_session.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsOnline</th>
                <td>{{ training_session.isOnline ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>SessionLink</th>
                <td>{{ training_session.sessionLink }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ training_session.place }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_training_session_index', {'idTraining': training.id, 'idInscription': inscription.id}) }}">back to list</a>

    <a href="{{ path('app_training_session_edit', {'idTraining': training.id, 'idInscription': inscription.id, 'idSession': training_session.id}) }}">edit</a>

    {{ include('training_session/_delete_form.html.twig') }}
{% endblock %}
